@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<br /><br />
<div class="container-fluid row">

    <div class="col-lg-1"></div>

    <div class="list-group col-lg-5 hvr-sink" style="opacity:0.7">

        <a href="https://goo.gl/maps/cXqTp " target="_blank" class="list-group-item">
            <h4 class="list-group-item-heading" style="font-family: Hobo Std; font-weight:bolder; align-content:center"><b> Arsman Ahmad</b></h4>
            <blockquote>
                <p class="list-group-item-text" style="color:brown">Student - Bachelors in Information & Technology - <b>University of the Punjab</b>, Lahore, Pakistan</p>

            </blockquote>
        </a>

        <a href="http://www.pucit.edu.pk" target="_blank" class="list-group-item">
            <h4 class="list-group-item-heading" style="font-family: Hobo Std; font-weight:bolder; ">Address:</h4>
            <blockquote>
                <p class="list-group-item-text">Punjab University College of Information Technology - PUCIT Lahore, Pakistan</p>
            </blockquote>
        </a>
        <a href=" mailto:arsman.ahmad@gmail.com" class=" list-group-item">
            <h4 class="list-group-item-heading" style="font-family: Hobo Std; font-weight:bolder; ">Email:</h4>
            <blockquote>
                <p class="list-group-item-text"><img src="~/Content/Icons/mail.png"> &nbsp arsman.ahmad@gmail.com </p>
                <p class="list-group-item-text"><img src="~/Content/Icons/mail.png"> &nbsp bitf12m051@pucit.edu.pk </p>
            </blockquote>
        </a>
        <a href="callto://+923219190857" class="list-group-item">
            <h4 class="list-group-item-heading" style="font-family: Hobo Std; font-weight:bolder; ">Phone:</h4>
            <blockquote style="font-family: Candara;">
                <p class="list-group-item-text"><img src="~/Content/Icons/phone.png">(+92) <b>321</b> - 919 - 0857  </p>
                <p class="list-group-item-text"><img src="~/Content/Icons/phone.png">(+92) <b>315</b> - 919 - 0857  </p>
            </blockquote>
        </a>
    </div>

    <div class="col-lg-6" style="opacity:0.2">

        <img src="~/Content/Images/contactus.png" width="70%" height="60%" style="padding-left:10%"/>


    </div>
</div>
<br /><br />
