
<head>

    <link href="~/Content/fancyapps-fancyBox-18d1712/source/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-buttons.css" rel="stylesheet" />
    <link href="~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-thumbs.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>fancyBox</title>
</head>

<a class="fancybox " href="/Content/UploadedImg/img_20_0.jpg" data-fancybox-group="gallery" title="Etiam-quis-mi-eu-elit-temp">
    <img src="/Content/UploadedImg/img_20_0.jpg" />
</a>