@{

    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using OnlineMenu.Models

<div class="row">
    <br /><br />
    <div class="col-sm-5" style="text-align:right">
        <br /><br /><br />
        <img src="~/Content/Images/orderno.png" width="50%" height="50%" class="pull-right" />
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-4" style="font-family:'Hobo Std'; background-color:lightyellow; opacity:0.8">
        <br />
        <h1 class="hvr-bob" style="color: brown">Give Order</h1>
        <hr />

        <div>
            <form class="form-horizontal" action="~/Home/SubmitOrder" method="post">
                <div class="row">
                    <div class="form-group">
                        <label for="name" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" name="name" required placeholder="ie., Arsman">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">Contact No.</label>
                        <div class="col-sm-6">
                            <input type="text" maxlength="11" class="form-control" id="number" name="number" required placeholder="ie., 03219876543">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="add" class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" id="email" name="email" placeholder="ie., abc@xyz.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-4 control-label">Address</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="address" name="address" required placeholder="ie., Mughelpura, Lahore">
                        </div>
                    </div>

                    <div>
                        <hr />
                        <h4 style="color:brown"> &nbsp Select Items</h4>
                        <br />

                        @foreach (Item ob in Model)
                        {
                            <div class="form-group">
                                <label for="add" class="col-sm-4  col-sm-offset-1 control-label">@ob.name</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="menu" name="item">
                                        @for (int i = 0; i <= 10; i++)
                                        {
                                            <option>@i</option>
                                        }

                                    </select>
                                </div>
                            </div>
                        }
                        @*@Session["itemIdCount"] = j;*@
                    </div>


                    <br />
                    <div class="form-horizontal col-lg-offset-1">
                        <label>Comment:</label>
                        <textarea rows="8" cols="50" name="comment" placeholder="ie., Plz, Deliver Fast" style="border:solid" required></textarea>
                    </div>
                    <div class="pull-right">
                        <br />
                        <button type="submit" class="btn btn-success" value="sub"> Order Now </button>
                        <button type="reset" class="btn btn-danger" value="sub"> Cancel Order </button>
                    </div>
                </div>
            </form>
            <br />
        </div>

    </div>

</div>

<br />
<br />
<br />
