@{
    ViewBag.Title = "SubmitOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<h2 style="color:black;text-align:center; background-color:lightyellow;opacity:0.8; font-family:'Hobo Std';">Order will be delivered within 1-hour</h2>
<hr />
<br /><br /><br /><br /><br /><br />